<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">I'm a modal!</h3>
    </div>
    <div class="modal-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque optio nisi laboriosam sint similique quod ea eligendi provident, doloribus, rem beatae inventore dolore esse, suscipit. Rem ad, corrupti eum quidem.</p
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" type="button" ng-click="$close()">Cancel</button>
    </div>
</script>